/*
 * CSD460: Capstone in Software Development
 * Gold Team
 *   Isaac Ellingson
 *   Patrice Moracchini
 *   Cannon Rivera
 *   José Velázquez Sáenz
 *
 * CSS Specific to the Landing Page
 */
html {
  scroll-behavior: smooth;
}
body {
	display: grid;
	grid-template-rows: auto 1fr auto;
}

header {
	min-height: 4rem;
}

.landing {
	width: 100%;
	min-height: 100vh;
	/* source: https://pixels.com/featured/second-beach-sunset-near-forks-wa-howard-snyder.html */
	background-image:
		linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.5)),
		url("Pictures/second-beach-sunset-near-forks-wa-howard-snyder-140426518.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
}

.landing h1 {

	text-align: center;

	color: #FFF;
	
	text-shadow: 1px 5px rgba(0,0,0,0.25);

	-moz-text-fill-color: #fff;
	-webkit-text-fill-color: #fff;
	-moz-text-stroke-color: #000;
	-webkit-text-stroke-color: #000;
	-moz-text-stroke-width: 3px;
	-webkit-text-stroke-width: 3px;
	paint-order: stroke fill;

	font-size: clamp(24pt, 4vw, 4vw);	
}

.content {
	width: 100%;
	min-height: 100vh;
	/* source: https://pixels.com/featured/lime-kiln-point-state-park-sunset-near-port-angeles-wa-howard-snyder.html */
	background-image:
	url("Pictures/lime-kiln-point.jpg");
	background-repeat: no-repeat;
	background-position: 75% 30%;
	background-size: cover;
}

.content h2, .lodge h2 {
	text-align: center;
	font-size: clamp(18pt, 3vw, 3vw);
	color: #FFF;
	text-shadow: 1px 5px rgba(0,0,0,0.25);
	-moz-text-fill-color: #fff;
	-webkit-text-fill-color: #fff;
	-moz-text-stroke-color: #000;
	-webkit-text-stroke-color: #000;	
}

.content p, .lodge p {
	text-align: center;
	font-size: clamp(12pt, 2vw, 2vw);
	color: #FFF;
	position: relative;
	top: 10%;
}

.lodge {
	width: 100%;
}
	.lodge-back, .lodge-chairs {
	min-height: 100vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	}
	/* sources:Vrbo. (n.d.). Lopez Legacy Lodge overlooking the beautiful 
	San Juan waters! [Photographs]. Retrieved September 2, 2026, 
	from https://www.vrbo.com/3937680 */
	.lodge-back {
		background-image:
	url("Pictures/Lodge_back_view.jpg");
	}
	.lodge-chairs {
		background-image:
	url("Pictures/Rocking_chairs.jpeg");
	}



.rooms {
	width: 100%;
	min-width: 0;

	.scroll-container {
	display: flex;
	width: 100%;
	max-width: 100%;
  	background-color: #333;
  	overflow-x: auto;
 	overflow-y: hidden;
	gap: 20px;
	padding: 10px;
}
	.scroll-container img {
  	flex-shrink: 0;
}
}
.rooms h2 {
	text-align: center;
	font-size: clamp(18pt, 3vw, 3vw);
	color: #000000;
	text-shadow: 1px 5px rgba(0,0,0,0.25);
	-moz-text-fill-color: #000000;
	-webkit-text-fill-color: #000000;
	-moz-text-stroke-color: #000;
	-webkit-text-stroke-color: #000;	
}

.rooms p {
	text-align: center;
	font-size: clamp(12pt, 2vw, 2vw);
	color: #000000;
	position: relative;
	top: 1%;
}	

.marina {
	width: 100%;
	min-height: 100vh;
/* source: San Juan Islands Visitors Bureau. (n.d.). 
Roche Harbor Marina [Photographs]. Retrieved September 2, 2026, 
from https://www.visitsanjuans.com/account/roche-harbor-marina */
	background-image:
	url("Pictures/marina.jpeg");
	background-repeat: no-repeat;
	background-position: 20% 0%;
	background-size: cover;
	position: relative;
}
.marina h2 {
	text-align: left;
	padding-left: 4%;
	font-size: clamp(18pt, 3vw, 3vw);
	color: #FFF;
	text-shadow: 1px 5px rgba(0,0,0,0.25);
	-moz-text-fill-color: #fff;
	-webkit-text-fill-color: #fff;
	-moz-text-stroke-color: #000;
	-webkit-text-stroke-color: #000;
	position: relative;
	top: 68%;	
}
.marina p {
	text-align: left;
	padding-left: 4%;
	font-size: clamp(12pt, 2vw, 2vw);
	color: #FFF;
	position: relative;
	top: 71%;
}

.attractions {
	width: 100%;
	min-height: 100vh;
	/* source: https://www.whalewatching.com/where-watch-whales/washington-state/ */
	background-image:
	url("Pictures/whale-watching.jpg");
	background-repeat: no-repeat;
	background-position: 20% 0%;
	background-size: cover;
	position: relative;
}
.attractions h2 {
	text-align: center;
	font-size: clamp(18pt, 3vw, 3vw);
	color: #fff;
	text-shadow: 1px 5px rgba(0,0,0,0.25);
	-moz-text-fill-color: #fff;
	-webkit-text-fill-color: #fff;
	-moz-text-stroke-color: #000;
	-webkit-text-stroke-color: #000;
	position: relative;
	top: 5%;	
}
.attractions p {
	text-align: center;
	font-size: clamp(12pt, 2vw, 2vw);
	color: #fff;
	position: relative;
	top: 5%;
}
.book-your-vacation {
	font-size: clamp(12pt, 2vw, 2vw);
	background: linear-gradient(to bottom, #F57C2F, #d39f7f);
	background-color: #F57C2F;
	border-radius: 12px;
	border: 1px solid black;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.25);
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

.back-to-top {
	position: absolute;
	right: 4%;
	bottom: 6rem;

	color: #fff;
}