/* CSD460: Capstone in Software Development
 * Moffat Bay Lodge
 * Gold Team
 *   Isaac Ellingson
 *   Patrice Moracchini
 *   Cannon Rivera
 *   José Velázquez Sáenz
 * 9/11/2026
 */
 
* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

body {
    min-height: 100vh;
    background: var(--bg-color);
    margin: 0;
}

.section-title {
    text-align: center;
    margin: 20px 0;
}

/* Reservation Section */
.reservation {
    position: relative;
}

.price-rates {
    width: 100%;
    max-width: 800px;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 15px;
    background: var(--accent-color);
    box-shadow: 8px 12px rgba(0,0,0,0.25);
    margin-left: auto;
    margin-right: auto;
}

.price-rates td:nth-child(odd) {
    text-align: right;
    width: 50%;
}

.price-rates th, .price-rates td {
    padding: 1rem;
}

.reservation-form {
    width: 100%;
}

.section-reservation-form {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    gap: 2em;
    background: var(--accent-color);
    padding: 1.5em;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    box-shadow: 8px 12px rgba(0,0,0,0.25);
}

/* Room Size and Guests*/
.room-size, .guests, .reservation-dates {
    display: flex;
    flex-direction: column;
}

.room-size select, .guests select {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 6px;
}

.room-size h2, .guests h2 {
    margin: 0 0 0.5em;
    font-size: 1.5rem;
}

/* Calendar Section */
.reservation-dates {
    gap: 1em;
}

.reservation-dates input {
    font-size: 1rem;
}

.reservation-error {
	background-color: #FFC0B4;
	border-radius: 6px;
	padding: 10px;
	font-weight: 600;
}

/* Total Cost Section */
.total-cost {
    background: var(--secondary-accent-color);
    padding: 0.25em 1em;
    border-radius: 15px;
    border:1px solid gray;
    font-size: 1.5rem;
}

/* Comments Section */
.comments {
    background: var(--secondary-accent-color);
    padding: 1em;
    border-radius: 15px;
    border:1px solid gray;
}

.comments h2 {
    margin: -0.5em 0 0.3em;
    font-size: 1.5rem;
}

.comments textarea {
    width: 100%;
    height: 6em;
    font-size: 1rem;
}

/* Reservation Button */
.reservation-button-container {
    max-width: 800px;
    margin: 0 auto;
}
.reservation-button-container .reservation-button {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    margin: 1rem 0 1rem auto;
    padding: 0.75em;
    font-size: 1rem;
    border: black 1px solid;
    border-radius: 6px;
    background: var(--callout-gradient);
    box-shadow: 4px 5px rgba(0,0,0,0.25);
    color: #000;
    cursor: pointer;

    
}

/* Media Queries - for larger screens */
@media (min-width: 1460px) {

    .price-rates {
        position: absolute;
        left: 40%;
        margin-left: -600px;
        width: 250px;
        max-width: 800px;
    }
    
    .section-reservation-form {
        display: grid;
        grid-template-columns: 2fr 1fr;
        max-width: 800px;
        margin: 0 auto 2rem;
    }

    .room-size, .reservation-dates{
        grid-column: 1;
    }

    .guests {
        grid-column: 2;
        justify-self: stretch;
    }

    .reservation-dates input {
        width: 100%;
        padding: 0.5em;
        font-size: 1rem;
        border-radius: 6px;
    }

    .calendar {
        grid-column: 2;
        grid-row: 2;
    }

    .total-cost {
    grid-column: 1;
    grid-row: 3;
    justify-self: center;
    }

    .comments {
        grid-column: 1 / -1;
        grid-row: 4;
    }
}